*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid #e3e2de;
}

th, td {
  padding: 1em;
  white-space: nowrap;
}

@media all and (max-width: 400px) {
    body {
        font-size: 90%;
    }

    td, th {
        padding: 0.5em;
    }
}
