body {
    font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, td, th {
  border: 1px solid #e3e2de;
}

td, th {
  padding: 1em;
}

@media all and (max-width: 400px) {
    body {
        font-size: 90%;
    }

    td, th {
        padding: 0.5em;
    }
}